* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
/* header style */
.header {
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding: 15px 6% 15px 0;
    flex-wrap: wrap;
}
.header h1 {
    background-color: pink;
    font-family: sans-serif;
}
.header a {
    background-color: aquamarine;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
header nav {
    margin: 7px 0;
}
.header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
/* hero section */
.hero {
    display: flex;
    background-image: url("../assets/hannah.jpeg");
    background-size:contain;
    background-position: center;
    justify-content: stretch;
    flex-wrap: wrap;
    background-repeat: no-repeat;
}
.hero-section {
    width: 100%;
}
.hero h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 30%;
    color: pink;
    background-color: black;
    align-items: flex-end;
}
/* end hero section */
/* about me section */
.about-me {
    display: flex;
    flex-wrap: wrap;
}
.about-me p {
    justify-content: flex-end;
    padding-left: 20px 0;
}
/* main container styles */
.main {
    max-width: 88%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}
/* styles for page section */
.page-section p {
    font-family: sans-serif;
    color: aquamarine;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
} 
.page-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
    flex-flow: row wrap;
}
.page-section > h2 {
    flex: 0 0 20%;
    text-align: right;
    padding-right: 15px;
    border-right: 4px solid black;
    flex-wrap: wrap;
    flex-direction: column;
}
/* contact info style */
#contact-me {
    display: flex;
    flex-wrap: wrap;
}
.contact-info {
    display: flex;
    background-color: paleturquoise;
    flex-wrap: wrap;
}
.contact-info ul {
    list-style: none;
    justify-content: space-between;
}
.contact-info ul li a {
    text-decoration: none;
}

