* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
/* header style */
.header {
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding: 15px 6% 15px 0;
    flex-wrap: wrap;
}
.header h1 {
    background-color: pink;
    font-family: sans-serif;
}
.header a {
    background-color: aquamarine;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
header nav {
    margin: 7px 0;
}
.header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
/* hero section */
.hero {
    display: flex;
    background-image: url("../assets/hannah.jpeg");
    background-size:contain;
    background-position: center;
    justify-content: center;
    flex-wrap: wrap;
    background-repeat: no-repeat;

}
.hero-section {
    width: 100%;
}
.hero h2 {
    font-style: italic;
    margin: 30%;
    color: pink;
    background-color: black;
    align-items: flex-start;
}
/* end hero section */
/* about me section */
#about-me {
    display: flex;
    flex-wrap: wrap;
}
main {
    max-width: 88%;
    margin-left: auto;
    margin-right: auto;
}
.page-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
    flex-flow: row wrap;
}
.page-section > h2 {
    flex: 0 0 20%;
    text-align: right;
    padding-right: 15px;
    border-right: 4px solid black;
    flex-wrap: wrap;
    flex-direction: column;
}
p {
    font-family: sans-serif;
    color: aquamarine;
    display: flex;
    flex: wrap;
    justify-content: flex-end;
    flex-basis: content;
}
.contact-info {
    display: flex;
    justify-content: space-between;
    background-color: paleturquoise;
    padding: 15px 6% 15px 0;
    flex-wrap: wrap;
}


